@charset 'UTF-8';


:root{
    --primary-color: #0A1128;
    --gap: 3rem;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
   
}

h1, h2, h3, h4, h5, h6{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5rem;
   
}

h3{
    font-size: 4rem;
    
}

h4{
    font-size: 3rem;
   
}
h5{
    font-size: 3rem;
    
}

.main-bg{
    background-image: url('../img/endless-constellation\ \(1\).svg');
    background-size: cover;
    background-position: center center;
    color: white;
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}