@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
}

.t1{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    background-color: darkcyan;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.t1 div{
    background-color: blueviolet;
    min-height: 200px;
}
@media (max-width: 732px){
    .t1{
        
        grid-column: span 1;
    }
    }
/*.t1{
    display: grid;
    background-color: darkcyan;
    gap: 10px;
    grid-template-columns: 1fr, 300px;
}*/